{{ define "main" }}

<div class="mt-5 pt-5 pb-1">
    <div class="container" >
        <h1 class="name display-1"><b>{{ .Site.Params.Name }}</b></h1>
    </div>
</div>
<div class="mb-5 py-4">
    <div class="container">
        <h2 class="bio lh-base fs-1 serif">{{ .Site.Params.Description }}</h2>
    </div>
</div>

<div class="container py-3">
		<!-- Projects -->
		<div class="col-lg-12">
			<!--
			{{ with .Site.GetPage "section" "projects" }}
			<div class="pb-4">
				<a class="heading fs-2" href="{{ .RelPermalink }}">{{ .Title }}</a>
			</div>
			{{ if .Summary }}
			<p class="subheading">{{ .Summary }}</p>
			{{ end }}
			{{ end }}
			-->
			<div class="row row-cols-3 row-cols-md-1 g-4 mb-5" dasssta-masonry='{"percentPosition": true }'>
				<!--
				{{ range ( where site.RegularPages "Section" "projects" ) }}
				{{ partial "home_project.html" . }}
				{{end}}
				 {{ .Site.Sections }} {{ . }}
				{{ range .Site.Sections }}
				FOOO .
				{{ partial "home_project.html" . }}
				{{end}}
				-->
    		</div>
  		</div>
	</div>

{{ end }}